body {
    width: 300px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
    overflow: visible;
}
h1 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
#websiteTime {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#websiteTime p {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 12px; /* Set the top, bottom, right, and left padding to 10px */
    font-size: 16px;
    color: #444;
}

#websiteTime p:first-child {
    margin: 0;
}

#websiteTime p:last-child {
    border-bottom: none;
    margin: 0;
}

.domain {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

/* animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 0.5s;
    will-change: transform, opacity;
}
p, input[type=checkbox], button, h1, #minutes, #hours, #seconds, #websiteTime p {
    animation: fadeIn 0.2s;
}


#downloadCSV {
    background-color: #bababa;
    position: fixed;
    top: 5px;
    left: 5px;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

/* Tooltip container */
.tooltip {
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    top: 10%; /* Adjust this value to move the tooltip vertically */
    left: 19%; /* Adjust this value to move the tooltip horizontally */
    transform: translateX(-50%);/* Use half of the width to center the tooltip */

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#downloadCSV:hover {
    background-color: #777777;
}

.tracker {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    color: #444;
}
.delete-button {
    background-color: #f85757; /* Set the background color to red */
    border: none; /* Remove the border */
    border-radius: 50%; /* Make it circular */
    width: 12px; /* Set the width */
    height: 12px; /* Set the height */
    position: absolute; /* Position it absolutely */
    top: 3px; /* Position it 10px from the top */
    left: -5px; /* Position it 10px from the left */
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in total width and height */

}

#websiteTime p:first-child .delete-button {
    /* Adjust the styles as needed */
    top: -5px; /* Adjust this value as needed */
    left: -5px; /* Adjust this value as needed */
}

.delete-button:hover {
    background-color: #ff4d4d; /* Button background color on hover */
}
.delete-button::after {
    content: ""; /* By default, don't show any content */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 15px; /* has to match line height of button */
}

.delete-button:hover::after {
    content: "X"; /* When hovered, show the "X" */
    color: black;
    /* change size */
    font-size: 8px;
}
.add-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.checkbox-container {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 5px;
}
.track-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.track-button:hover {
    background-color: white;
    color: black;
}

.tablink {
    background-color: #e4e4e4;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 15px;
    animation: fadeIn 0.5s;
}

.tablink:hover {
    background-color: #ddd;
}

.tabcontent {
    color: black;
    display: none;
    padding: 50px 20px;
    height: 100%;
}

#startButton:hover, #resetButton:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}

.add-button, .track-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#studyTimer button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#studyTimer button:hover {
    background-color: #4CAF50;
    color: black;
}

.big-input {
    width: 100px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
}